.rce-mbox.rce-mbox-right {
  background-color: #E8F5E9 !important;
}
.rce-mbox-right-notch {
  fill: #E8F5E9 !important;
}

.rce-mbox {
  background: #E0F2F1 !important;
}
.rce-mbox-left-notch {
  fill: #E0F2F1 !important;
}
